.custom-block {
  padding: 16px 16px 8px;
  line-height: 24px;
  background-color: var(--color-bg-subtle);
}


.custom-block.details {
  background-color: transparent;
}

.custom-block.info{
  background-color: var(--color-accent-tint);
}

.custom-block.warning{
  background-color: var(--color-warning-tint);
}

.custom-block.danger {
  background-color: var(--color-error-tint);
}

.custom-block-title {
  font-weight: 600;
}

.custom-block p + p {
  margin: 8px 0;
}

.custom-block.details summary {
  margin: 0 0 8px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}
